p {

   color: rgb(219, 105, 11);


}

h1 {

    text-align: center;

    color: darkblue;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.x{
    width: 500px;
    height: 300px;
    background: rgb(156, 8, 20);
    border-style: double;
    border-color: black;
    border-width: 0.5cm;

}


